<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Invoice</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button mat-stroked-button color="primary">Export PDF</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="header">
        </div>
        <div class="content">
          <div class="invoice-box">
            <table cellpadding="0" cellspacing="0" style="width:100%">
              <tr class="top" style="padding-bottom: 10px">

                <td class="title">
                  <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:200px;">
                </td>

                <td>
                  <h5>Balaji Enterprises</h5>
                  C 40 Hansa Courtyard, No 643 TH Road,
                  <br> Thiruvottiyur, Chennai-600019
                </td>
              </tr>
            </table>


            <table style="width:100%">
              <tr class="heading">
                <th colspan="4" style="text-align: center; padding-bottom: 15px; padding-top: 15px">GST Invoice</th>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td>INvoice No</td>
                      <td>: </td>
                      <td>1234 </td>
                    </tr>
                    <tr>
                      <td>Invoice Date</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>DC No</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>Reverse Charge</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>TamilNadu</td>
                          </tr>

                        </table>
                      </td>
                      <td>
                        <table>
                          <tr>
                            <td>Code</td>
                            <td>:</td>
                            <td>333</td>
                          </tr>

                        </table>
                      </td>


                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td>INvoice No</td>
                      <td>: </td>
                      <td>1234 </td>
                    </tr>
                    <tr>
                      <td>Invoice Date</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>DC No</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>Reverse Charge</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>PC No</td>
                            <td>:</td>
                            <td>TamilNadu</td>
                          </tr>

                        </table>
                      </td>
                      <td>
                        <table>
                          <tr>
                            <td>PO Date</td>
                            <td>:</td>
                            <td>333</td>
                          </tr>

                        </table>
                      </td>


                    </tr>
                  </table>
                </td>
              </tr>

            </table>

            <table style="width:100%">
              <tr>
                <td>
                  <table>
                    <tr class="">
                      <th colspan="4" style="text-align: center; padding-bottom: 15px; padding-top: 15px">Ship to Party</th>
                    </tr>
                    <tr>
                      <td>INvoice No</td>
                      <td>: </td>
                      <td>1234 </td>
                    </tr>
                    <tr>
                      <td>Invoice Date</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>DC No</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>Reverse Charge</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>TamilNadu</td>
                          </tr>

                        </table>
                      </td>
                      <td>
                        <table>
                          <tr>
                            <td>Code</td>
                            <td>:</td>
                            <td>333</td>
                          </tr>

                        </table>
                      </td>


                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr class="">
                      <th colspan="4" style="text-align: center; padding-bottom: 15px; padding-top: 15px">Bill to Party</th>
                    </tr>
                    <tr>
                      <td>INvoice No</td>
                      <td>: </td>
                      <td>1234 </td>
                    </tr>
                    <tr>
                      <td>Invoice Date</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>DC No</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>Reverse Charge</td>
                      <td>:</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>PC No</td>
                            <td>:</td>
                            <td>TamilNadu</td>
                          </tr>

                        </table>
                      </td>
                      <td>
                        <table>
                          <tr>
                            <td>PO Date</td>
                            <td>:</td>
                            <td>333</td>
                          </tr>

                        </table>
                      </td>


                    </tr>
                  </table>
                </td>
              </tr>

            </table>
            <table border="1"   style="margin-bottom: 15px; margin-top: 15px" width="100%"   cellpadding="4" cellspacing="3">
                
                <tr>
                   <th>S.No</th>
                   <th>Product </th>
                   <th>HSN Code</th>
                   <th>Qty</th>
                   <th>Rate</th>
                   <th>Amount</th>
                   <th>Taxable Amount</th>
                   <th>CGST (2.5%)</th>
                   <th>SGST (2.5%)</th>
                   <th>Total</th>

                </tr>
                <tfoot>
                    <tr>
                      <td colspan="5">Total</td>
                      <td>$180</td>
                      <td>$180</td>
                      <td>$180</td>
                      <td>$180</td>
                      <td>$180</td>
                    </tr>
                  </tfoot>
                <tr align="CENTER">
                    <td>Data 1</td>
                    <td>Data 2</td><td>Data 1</td>
                    <td>Data 2</td><td>Data 1</td>
                    <td>Data 2</td><td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                </tr>
              </table>


              <table width="50%" border="1" style="">
                  <caption>
                    Poster availability
                  </caption>
                  
                  <colgroup span="3"></colgroup>
                  <thead>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <th rowspan="3" colspan="2" scope="rowgroup">Before 1</th>
                        <td>A2</td>
                      </tr>
                    </tbody>
                  <tbody>
                    <tr>
                      <th rowspan="3" scope="rowgroup">Product 1</th>
                      <th scope="row">CGST 1</th>
                      <td>A2</td>
                    </tr>
                    <tr>
                      <th scope="row">SGST1</th>
                      <td>A1</td>
                    </tr>
                   
                  </tbody>
                  <tbody>
                    <tr>
                      <th rowspan="2" scope="rowgroup">Product 2</th>
                      <th scope="row">CGST 2</th>
                      <td>A1</td>
                    </tr>
                    <tr>
                      <th scope="row">CGST 2</th>
                      <td>A2</td>
                    </tr>
                    
                  </tbody>

                  <tbody>
                      <tr>
                        <th rowspan="3" colspan="2" scope="rowgroup">After 1</th>
                        <td>A2</td>
                      </tr>
                    </tbody>
                    <tbody>
                        <tr>
                          <th rowspan="3" colspan="2" scope="rowgroup">Round off</th>
                          <td>A2</td>
                        </tr>
                      </tbody>
                </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
